<h1>Edit Services</h1>

  <form action='/services/<%service.id%>\edit' method='POST'>
      <input type="hidden" name="_method" value="PUT" />

      <label for="service[name]">Name:</label>
      <textarea name='service[name]'><%= service.name %></textarea>

      <label for="service[description]">Description:</label>
      <textarea name='service[description]'><%= service.description %></textarea>

      <label for="services[price]">Price:</label>
      <textarea name='services[price]'><%= service.price %></textarea>

      <label for="services[price_details]">Price Details:</label>
      <textarea name='services[price_details]'><%= service.price_details %></textarea>
      
      <select name='service[service_type_id]' id='type_dropdown'>
        <% service_types.each do |type| %>
          <option value=<%= type.id %> name=<%= type.name %>><%=type.name %></option>
        <% end %>
      </select>

  </form>
