<html>
<div class="service_page">
<head>

</head>

<body>
<h1>Services</h1>

  <% if authorized? %>

    <form action='/services' method='POST'>
      <label for="service[name]">Name:</label>
      <textarea name='service[name]'></textarea>
      <label for="service[price_details]">Price and Details:</label>
      <textarea name='service[price_details]'></textarea>
      <select name='service[service_type_id]' id='type_dropdown'>
        <% service_types.each do |type| %>
          <option value=<%= type.id %> name=<%= type.name %>><%=type.name %></option>
        <% end %>
      </select>
      <button type='submit' name='create_service'>Submit</button>
    </form>

      <ul>
        <% service_types.each do |type| %>
          <div class="service_type"> 
            <li><%= type.name %>
              <ul>
                <% type.services.each do |service| %>
                  <div class="services">
                    <li>
                      Service: <%= service.name %><br/>
                      Price: <%= service.price_details %><br/>
                        <form action='/services/<%=service.id %>/edit' method='GET'>
                        <button type='submit' name='edit_services'>Edit Service Menu</button>
                        </form>
                    </li>
                  </div>
                <%end%>
              </ul>
            </li>
          </div>
        <% end %>
      </ul>
  

  <% else %>

    <ul>
        <% service_types.each do |type| %>
          <div class="service_type"> 
            <li><%= type.name %>
              <ul>
                <% type.services.each do |service| %>
                  <div class="services">
                    <li>
                      Service: <%= service.name %><br/>
                      Price: <%= service.price_details %><br/>
                    </li>
                  </div>
                <%end%>
              </ul>
            </li>
          </div>
        <% end %>
      </ul>

      
  <%end%>

</body>
</div>
</html>

