<h1>Services</h1>
<%= services %>

  <% if false %>
    <ul>
    <% services.each do |service| %>
      <li>
      <%= service.service_type_name %><br/>
      <%= service.name %><br/>
      <%= service.description %><br/>
      <%= service.price %><br/>
      <%= service.price_details %><br/>
        <form action='/services/edit' method='GET'>
        <button type='submit' name='edit_services'>Edit Service Menu</button>
        </form>
      </li>
      <%end%>
    </ul>

  <% else %>

    <ul>

      <% services.each do |service| %>
        <li>
        <%= service.name %><br/>
        <%= service.description %><br/>
        <%= service.price %><br/>
        <%= service.price_details %><br/>
        </li>
      <%end%>
    </ul>

  <% end %>






