<h1>Services</h1>

  <% if authorized? %>

    <form action='/services' method='POST'>
      <label for="service[name]">Name:</label>
      <textarea name='service[name]'></textarea>
      <label for="service[description]">description:</label>
      <textarea name='service[description]'></textarea>
      <label for="service[price]">price:</label>
      <textarea name='service[price]'></textarea>
      <label for="service[price_details]">price_details:</label>
      <textarea name='service[price_details]'></textarea>
      <select name='service[service_type_id]' id='type_dropdown'>
        <% service_types.each do |type| %>
          <option value=<%= type.id %> name=<%= type.name %>><%=type.name %></option>
        <% end %>
      </select>
      <button type='submit' name='create_service'>Submit</button>
    </form>

    <ul>
      <% service_types.each do |type| %>
        <li><%= type.name %>
          <ul>
            <% type.services.each do |service| %>
              <li>
                <%= service.name %><br/>
                <%= service.description %><br/>
                <%= service.price %><br/>
                <%= service.price_details %><br/>
                  <form action='/services/edit' method='GET'>
                  <button type='submit' name='edit_services'>Edit Service Menu</button>
                  </form>
              </li>
            <%end%>
          </ul>
        </li>
      <% end %>
    </ul>

  <% else %>

    <ul>
      <% services.each do |service| %>
        <li>
        <%= service.name %><br/>
        <%= service.description %><br/>
        <%= service.price %><br/>
        <%= service.price_details %><br/>
        </li>
      <%end%>
    </ul>

  <% end %>






